<h1 id="main-page-title"> Latest 100 popular photos from 500px </h1>
<% @pictures.each do | picture | %>
<!-- this was defined in the photos controller -->
    <%= image_tag picture['image_url'] %>
      <!--  grabbing each individual picture with URL in the hash retrieved by API -->
<% end %>
