// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#main-page-title {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

body {
  text-align: center;
}

li {
    list-style-type: none;
    font-family: 'Open Sans', sans-serif;
}



img:hover {
  opacity:0.5;
}


.like-button{
  outline:none;
  box-shadow:none;
  border: none;
  width: 35px;
  height: 30px;
  font-size: 1.3em;
  border-radius: 100px;
   background: lightblue;
  right: 4%;
  bottom: 10px;
  position: relative;

}

 a:visited {
    color: deeppink;
}



a:hover {
    color: hotpink;
}

a {
  text-decoration: none;
  color: black;

}

.like {
  display:inline;
}


.animation {
  height: 100px;
  z-index: 10000;
  perspective: 1600px;
  perspective-origin: 20% 50%;
  transition: 0.5s all;
  opacity: 1;
  right: 7%;
  position: relative;
}

.circle {
  width: 95px;
  height: 95px;
  border: 2px solid #f3f3f3;
  border-top: 3px solid #0088cf;
  border-radius: 100%;
  margin: auto;
  animation: spin 3s infinite linear;
}


.logo {
  background: url(http://www.underconsideration.com/brandnew/archives/500px_logo_mark_detail.png);
  background-size: cover;
  width: 52px;
  height: 67px;
  position: relative;
  bottom: 100px;
  margin: auto;
  animation: ico 5s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes ico {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
